.left-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
    border-right: 1px solid black;
}

.right-div {
    width: 50%;
    background-color: #F5F5F7;
    padding: 40px 40px 0px 40px;
    text-align: left;
    position: sticky;
}

.clr-div {
    clear: both;
}

.main-div {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer {
    border-top: 1px solid black;
}

.default-font {
    font-weight: 500;
    size: 14px;
    line-height: 16.8px;
}

.img-arw {
    display: inline-block;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.658) !important;
    opacity: 0.5;
    width: 100%;
    height: 56px;
    margin-bottom: 12px;
}

h3 {
    font-size: 18px;
    line-height: 25.2px;
    text-align: left;
}

.hide {
    font-weight: 500;
    size: 14px;
    line-height: 16.8px;
    opacity: 50%;
}

.btn {
    background-color: black;
    color: white;
    width: 100%;
    height: 56px;
    margin-top: 16px;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid;
}

.inp {
    margin-top: 16px;
    padding: 16px;
}

.steps {
    text-align: left;
    margin-bottom: 40px;
}

.half-inp1 {
    margin-top: 16px;
    width: 50%;
    float: left;
    margin-right: 1%;
    padding-left: 16px;
}

.half-inp2 {
    margin-top: 16px;
    width: 49%;
    padding-left: 16px;
}

.order-sum {
    text-transform: uppercase;
    font-weight: 500;
    size: 14px;
    line-height: 16.8px;
    padding-bottom: 10px;
}

.gift-code {
    font-weight: 400;
    size: 16px;
    line-height: 22.4px;
    padding: 24px 0;
    border-bottom: 1px solid #eee;
}

.inp-gift {
    width: 49%;
    float: left;
    margin-right: 2%;
    padding-left: 16px;
}

.btn-gift {
    background-color: black;
    color: white;
    height: 56px;
    width: 49%;
}

.btn-gift:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.gift-code-des {
    margin-bottom: 16px;
}

.buy-des {
    font-family: Roboto;
    font-weight: 400;
    size: 16px;
    line-height: 22.4px;
    padding-top: 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(146, 138, 138, 0.5);
}

.buy-des-left {
    float: left;
    padding-bottom: 24px;
}

.buy-des-right {
    float: right;
    padding-bottom: 24px;
}

.total-price {
    margin-top: 24px;
}

.total-price-l {
    float: left;
    font-weight: 500;
    size: 18px;
    line-height: 25.2px;
}

.total-price-r {
    float: right;
    font-weight: 400;
    size: 21px;
    line-height: 22.4px;
}

.foot-left {
    text-align: center;
    font-weight: 400;
    size: 14px;
    line-height: 16.8px;
    position: absolute;
    bottom: 40px;
    left: 43%;
}

.hr_line {
    border-bottom: 1px solid lightgray !important;
}
.border-red{
    border: 1px solid red !important;
}