/* Main Header Global Style */
header {
    border: 1px solid #121212;
}

header>span>ul {
    border-left: 1px solid #121212;
}

header>span>ul>li {
    border-right: 1px solid #121212;
}

.bg_img {
    background-image: url(../../assets/img/for_home/ServiceSection.webp);
    height: 720px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.border_white {
    border-color: white !important;
}