/* Event Section Background */
.bg_img {
    background-image: url(../../assets/img/for_home/ServiceSection.webp);
    height: 720px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.border_white {
    border-color: white !important;
}