/* Event Section Background */
.bg_img {
    background-image: url(../../assets/img/for_home/ServiceSection.webp);
    height: 720px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.border_white {
    border-color: white !important;
}

/* Images Zoom Transition */
.img-container {
    display: inline-block;
    overflow: hidden;
    height: 360px;
    border: 1px solid black
}

.img-container img {
    width: 359px;
    object-fit: fill;
    transition: transform 0.5s ease;
}

.img-container img:hover {
    transform: scale(1.2);
}
.pointerCursor:hover {
    cursor: pointer;
}
