body {
    background-image: url(../../assets/img/for_sign-in/overlay.JPEG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    background-color: white;
    border: 1px solid black;
    height: fit-content;
}

.sign-in {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 9%;
}

.header {
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.body {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 20px;
}

label {
    font-weight: 500;
    size: 16px;
}

input {
    width: 100%;
    height: 40px;
}

#btn {
    background-color: black;
    color: white;
    width: 100%;
    padding: 16px 24px 14px 24px;
    margin-bottom: 30px;
    font-weight: 500;
    size: 16px;
    line-height: 19, 2px;
}

#forgetPass {
    font-weight: 500;
    size: 16px;
    line-height: 19, 2px;
    opacity: 50%;
    float: left;
    padding-right: 5px;
}

#resPass {
    font-weight: 500;
    size: 16px;
    line-height: 19, 2px;
}

footer {
    margin-top: 15%;
    font-weight: 500;
    size: 14px;
    line-height: 16, 8px;
}