@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    transition: all 0.2s ease-out;
    border-color: black !important;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

li {
    list-style: none;
}

input {
    border-color: #D2D2D7 !important;
}

/* Main Header Global Style */
header {
    border: 1px solid #121212;
}

header>span>ul {
    border-left: 1px solid #121212;
}

header>span>ul>li {
    border-right: 1px solid #121212;
}

header a {
    position: relative;
    text-decoration: none;
    color: #121212;
    padding-bottom: 5px;
    transition: color 0.5s ease;
}

header a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: goldenrod;
    transition: width 0.3s ease, left 0.3s ease;
}

header a:hover::after {
    width: 100%;
    left: 0;
}

header a:hover {
    color: goldenrod;
}

footer>section>span>ul>li:hover {
    text-decoration: underline;
    scale: 1.07;
}

footer>section>ul>li:hover {
    text-decoration: underline;
    scale: 1.07;
}

footer>section>div>span>span>a:hover {
    scale: 1.25;
}

footer>section>span>button:hover {
    background-color: white;
    color: black;
    border-width: 2px;
}

.font_dance {
    font-family: "Dancing Script", cursive;
}

/* Images Transitions */
.img-hover {
    display: inline-block;
    overflow: hidden;
}

.img-hover img {
    object-fit: fill;
    transition: transform 0.7s ease;
}

.img-hover img:hover {
    transform: scale(1.05);
}

/* Text Animations */
.container_text {
    overflow: hidden;
    position: relative;
}

.text {
    transform: translateY(100%) rotate(45deg) scale(0.9);
    opacity: 0;
    transform-origin: left;
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.8s ease, text-shadow 0.5s ease;
    text-shadow: none;
}

@keyframes text-appear {
    from {
        transform: translateY(100%) rotate(25deg) scale(0.9);
        opacity: 0;
        text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    }

    to {
        transform: translateY(0) rotate(0) scale(1);
        opacity: 1;
        text-shadow: none;
    }
}

/* Animation on page load */
.container_text .text {
    animation: text-appear 1.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 0.3s;
}

/* Cart Counter */
#cart-count {
    position: absolute;
    left: 35px;
    background-color: #000000be;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
    padding: 0px 5px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.active {
    background-color: #333;
}